* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colornav:#B4D0E6;
    --color-button:#0061FE;
    --color-footer:#000000;
}
html {
  scroll-behavior: smooth;
}
.flex{
    display: flex;
}
header a {
    text-decoration: none;
    color: black;
}
.padding-nav{
    margin: 15px 20px;
}
.positionfix{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    height: 60px;
    
}

.logonav{
    height: 25px;
    width: 120px;
    
}
nav a:hover{
    background-color: rgba(204, 204, 137, 0.4);
    padding: 5px 15px;
    margin: 0;
    
}

.justify-space{
    justify-content: space-between;
}
.padding-nav a{
    margin: 4px 15px;
    font-size: 1em;
    white-space: nowrap;
}
.startbutton{
    background-color: var(--color-button);
    padding: 2px 8px 4px 8px;
    color: white;
    border: none;
}
.a-color{
    height: 100%;
}

.debug{
    border: 1px solid rgba(0,0,0,0.2);
    
}
.hero{
    background-color: var(--colornav);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container2{
    max-width: 1300px;
    margin: 0 auto;
}
h1{
    font-size: 5em;
    padding-top: 135px;
}
.heroimg{
    width: 65%;
    position: absolute;
    top:340px;
    right:0px;
}

.font{
    font-size: 1.2em;
    padding: 15px 5px;
}
.buttonhero{
    display: block;
    color: white;
    padding: 10px 5px;
    background-color: var(--color-button);
    margin-top: 60px;
    margin-bottom: 60px; 
    border: none; 
    font-size: 0.8em;  
}
.position{
    position: relative;
}
.widthhero{
    width: 35%;
}


.block{
    display: block;
    padding: 50px 0 0 5px;
    font-size: 40px;
}
@media (max-width: 860px) {
    h1 {
      font-size: 1.3em;
    }
  }
.wrap{
    flex-wrap: wrap;
}
h2{
    padding: 100px 0 30px 10px;
    font-size: 2.5em;
}
.Fatturazione{
    padding: 10px 20px;
}
.cards1{
    margin: 80px 0px 80px 0px ;
    width:calc( 100% / 3);

}
.cards2{
    margin: 80px 0px 80px 45px ;
    width:calc( 100% / 3);
}
h3{
    padding: 20px 0;
}
.text-align{
    text-align: center;
}
.text-indent{
    text-indent:-0.5em;
    margin-left:14px;
}
.lowpadding{
    padding: 10px 20px;
}
.highpadding{
    padding: 20px 0;
}
.opacity{
    opacity: 0.7;
}
main li{
    padding: 15px 0;
}
main ul{
   list-style-type: none;
   padding: 20px 0;
}
.buttonmain{
    display: block;
    color: white;
    padding: 10px 20px;
    background-color: var(--color-button);
    margin: 20px 0px;
    border: none;
    width: 100%;
}
.hr-cards{
    width: 30%;
    margin: 30px 0;
}
h4{
    padding: 20px 0px;
}
.tic{
    color: rgb(52, 177, 177);
    
}
.enterprisepadd{
    padding:15px 15px 30px 15px;
}
.font-prise{
    font-size: 1.6em;
}
h5{
    font-size: 1.1em;
}
.buttonmargin1{
    margin-right:40px;
    width: 90%;
}
.imagepartner{
    max-width: 700px;
    max-height: 650px;
    object-fit: fill;
    padding: 60px 30px 20px 0px;
    max-width: 100%;
}
.h3partner{
    padding: 120px 0 20px 0px;
    font-size: 2.3em;
}
.widthpartner{
    max-width: 450px;
}
.p-partner{
    font-size: 1.1em;
}
.buttonpartner{
    background-color: white;
    padding: 10px;
    margin: 60px 5px 10px 0;
}
.cardsx6{
    max-width: calc(100% / 3);
    padding: 0 10px;
}
.cardsx6 img{
    width: 100%;
}
.paddingbottom{
    padding-bottom:50px;
}
main a{
    color: blue;
}
.squares{
    width:calc(100% /3);
    height: calc(100vw / 3);
}
.squarex4{
    width: 50%;
    height: 50%;
    
}
.squares img{
    width: 50%;
    margin: auto;
    
}
.squarex4 img{
    filter: invert(100%);
}

.green{
    background-color:#A2D39B;
}
.red{
    background-color: #61082B;
}
.lightblu{
    background-color:#0093CE;
}
.orange{
    background-color: #FF1C1C;
}
.padding-square{
    padding: 40px 40px;
}
.marginhr-square{
    margin-top: 30px;
    width: 30%;
}
.orange-red{
    background-color:#D5001F;
}
.azure{
    background-color: #B4D0E7;
}
.blu{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.color-h2{
    color: #61082B;
    margin-left: 100px;
}
.adjust{
    
    height: 10vw;
    width: 25vw;
    padding: 30px 0;
    overflow: auto;
}

.buttonbrand{
    margin: 110px 0;
    width: 200px;
    height: 50px;
    border: none;
    background-color: white;
    margin-right: 100px;
}
.fa-solid{
    padding: 15px;
}
footer{
    background-color: var(--color-footer);
}
footer h5{
    color: white;
    padding: 10px 0;
}

.padding-footer{
    padding: 80px 10px 20px 10px
}
footer li{
    padding: 5px 0;
}
footer a{
    text-decoration: none;
    color: white; 
    font-size: 0.8em;
}
footer hr{
    width: 20%;
    color: white;
    margin-bottom: 30px;
}
footer i{
    color: white;
    
}
.italiano{
    color: white;
    padding: 13px 0;
}
.column{
    flex-direction: column;
}
.appear{
    display: none;
    padding: 20px 0px;
}
.hoverappear:hover .appear{
    display: block;
    flex-wrap: wrap;
    
}
button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}



