* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colornav:#B4D0E6;
    --color-button:#0061FE;
    --color-footer:#000000;
}
.flex{
    display: flex;
}
.padding-nav{
    padding: 15px;
}
.positionfix{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.justify-space{
    justify-content: space-between;
}
.padding-nav a{
    padding: 5px 10px;
}
.debug{
    border: 1px solid black;
}
.hero{
    background-color: var(--colornav);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 5em;
    padding-top: 120px;
}
.heroimg{
    width: 65%;
    position: absolute;
    top:320px;
    right:10px;
    
}

.font{
    font-size: 1.2em;
    padding: 15px 5px;
}
.buttonhero{
    display: block;
    color: white;
    padding: 10px 0;
    background-color: var(--color-button);
    margin-top: 60px;
    margin-bottom: 60px;    
}
.position{
    position: relative;
}
.widthhero{
    width: 35%;
}


.block{
    display: block;
    padding: 60px 0 0 15px;
}
@media (max-width: 768px) {
    h1 {
      font-size: 1.5em;
    }
  }
.wrap{
    flex-wrap: wrap;
}
h2{
    padding: 100px 0 30px 10px;
    font-size: 2.5em;
}
.Fatturazione{
    padding: 10px 20px;
}
.cards1{
    margin: 80px 0px 80px 0px ;
    width:calc( 100% / 3);

}
.cards2{
    margin: 80px 0px 80px 45px ;
    width:calc( 100% / 3);
}
h3{
    padding: 20px 0;
}
.text-align{
    text-align: center;
}
.text-indent{
    text-indent:-0.5em;
    margin-left:14px;
}
.lowpadding{
    padding: 10px 20px;
}
.highpadding{
    padding: 20px 0;
}
.opacity{
    opacity: 0.7;
}
li{
    padding: 15px 0;
}
ul{
   list-style-type: none;
   padding: 20px 0;
}
.buttonmain{
    display: block;
    color: white;
    padding: 10px 10px;
    background-color: var(--color-button);
    margin: 25px 0px;
}
.hr-cards{
    width: 30%;
    margin: 30px 0;
}
h4{
    padding: 20px 0px;
}
.tic{
    color: rgb(52, 177, 177);
    
}
.enterprisepadd{
    padding:15px 15px
}
.font-prise{
    font-size: 1.6em;
}
h5{
    font-size: 1.1em;
}
.buttonmargin1{
    margin-right:20px;
}
.imagepartner{
    max-width: 700px;
    max-height: 650px;
    object-fit: fill;
    padding: 60px 30px 20px 0px;
    max-width: 100%;
}
.h3partner{
    padding: 120px 0 20px 0px;
    font-size: 2.3em;
}
.widthpartner{
    max-width: 450px;
}
.p-partner{
    font-size: 1.1em;
}
.buttonpartner{
    background-color: white;
    padding: 10px;
    margin: 60px 5px 10px 0;
}
.cardsx6{
    max-width: calc(100% / 3);
    padding: 0 10px;
}
.cardsx6 img{
    width: 100%;
}
.paddingbottom{
    padding-bottom:50px;
}